<!--<header class="main-header">
    <div class="container container--flex">
      <div class="main-header__container">
        <h1 class="main-header__title cursor-pointer">YAMANARI'S SHOP</h1>
        <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>
        <nav class="main-nav" id="main-nav">
          <ul class="menu">
            <li class="menu__item"><a href="" class="menu__link">HOME</a></li>
            <li class="menu__item"><a href="" class="menu__link">ABOUT</a></li>
            <li class="menu__item"><a href="" class="menu__link">FEATURES</a></li>
            <li class="menu__item"><a href="" class="menu__link">SHOP</a></li>
            <li class="menu__item"><a href="" class="menu__link">CONTACT</a></li>
          </ul>
        </nav>
      </div>
      <div class="main-header__container">
        <span class="main-header__txt">Need Help</span>
        <p class="main-header__txt"><i class="wssp fab fa-whatsapp-square"></i> 987 654 321</p>
      </div>
      <div class="main-header__container">
        <a href="" class="main-header__link"><i class="fas fa-user"></i></a>
        <a href="" class="main-header__btn">My cart <i class="fas fa-shopping-cart"></i></a>
        <input type="search" class="main-header__input" placeholder="Buscar productos"><i class="fas fa-search"></i>
      </div>
    </div>
  </header>-->
  <div class="container-slider">
    <div class="slider" id="slider">
      <div class="slider__section">
        <img src="https://images.pexels.com/photos/2097085/pexels-photo-2097085.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="slider__img">
        <div class="slider__content">
          <h2 class="slider__title">Women’s eyewear</h2>
          <p class="slider__txt">Cool summer sale 50% off</p>
          <a href="" class="btn-shop">SHOP NOW</a>
        </div>
      </div>
      <div class="slider__section">
        <img src="https://images.pexels.com/photos/3414327/pexels-photo-3414327.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="slider__img">
        <div class="slider__content">
          <h2 class="slider__title">Women’s eyewear</h2>
          <p class="slider__txt">Cool summer sale 50% off</p>
          <a href="" class="btn-shop">SHOP NOW</a>
        </div>
      </div>
      <div class="slider__section">
        <img src="https://images.pexels.com/photos/2846815/pexels-photo-2846815.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="slider__img">
        <div class="slider__content">
          <h2 class="slider__title">Women’s eyewear</h2>
          <p class="slider__txt">Cool summer sale 50% off</p>
          <a href="" class="btn-shop">SHOP NOW</a>
        </div>
      </div>
      <div class="slider__section">
        <img src="https://snappygoat.com/b/e031d75f5c05484c31a2e3eb0dcc218b4268620a" alt="" class="slider__img">
        <div class="slider__content">
          <h2 class="slider__title">Men’s eyewear</h2>
          <p class="slider__txt">Cool summer sale 50% off</p>
          <a href="" class="btn-shop">SHOP NOW</a>
        </div>
      </div>
    </div>
    <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
    <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
  </div>